@model BeautifulNumbers.Models.Response

<h5 class="bg-primary text-white text-center m-2 p-2">RSVP</h5>

<div class="text-center p-2">
    <h4>Please select the number system, and the number of symbols to define beautiful numbers.</h4>
</div>
    
<component type="typeof(BeautifulNumbers.Components.Selector)" render-mode="Server" />
